<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body>
    {{>nav}}
    <div class="main-page container about-page">
        <p>Hey ! welcome now you are accessing the secret page ....</p>
        
        <h1>{{name}}</h1>
        <div class="info">
            <p><span>{{email}}</span></p>
            <p><span>{{phone}}</span></p>
        </div>
        <p class="password" style="font-size : 22px">Encrypted Password : <span>{{password}}</span></p>
        <p>This data is retrieved dynamically from the database, granted only to logged-in users who have access to the secret page.</p>
    </div>
    {{>footer}}
</body>
</html>