<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body class="index-page bg-image">
    <div class="circle1"></div>
    <div class="circle2"></div>
    {{>nav}}

    <div class="main-page container">

        {{#if success}}
          <p class="success-message">{{success}}</p>
        {{/if}}

        <p class="sub-text"><i class="fa-solid fa-rocket"></i>Hey, Explore the Power of MERN ....</p>

        <h1 class="jwt-heading">
            <span class="lock"><i class="fa-solid fa-user-shield"></i></span>
            JWT Authentication
        </h1>

        <div class="description-box">
    <ul class="description-list">
        <li><i class="fa-solid fa-shield-halved"></i> Implements secure access control using JWT-based authentication.</li>
        <li><i class="fa-solid fa-key"></i> Only logged-in users can access secret protected pages.</li>
        <li><i class="fa-solid fa-lock"></i> User credentials are encrypted and safeguarded with bcrypt.js.</li>
        <li><i class="fa-solid fa-circle-check"></i> JWT tokens verify identity and protect sensitive data throughout the session.</li>
    </ul>
</div>

        
        <a href="/about" class="btn-modern">
            <i class="fa-solid fa-user-secret"></i>
            <span>Access Secret Page</span>
        </a>
    </div>

    {{>footer}}
</body>
</html>
