<!DOCTYPE html>
<html lang="en">
<head>
    {{>meta}}
</head>
<body>
    {{>nav}}
    <div class="main-page container">
        <p>Hey , Explore the power of MERN ....</p>
        <h1>JWT Authentication</h1>
        <p style="text-align : center;width : 70%;margin : 1rem auto;font-weight : 300;font-size : 12px;line-height : 28px;">This project basically focus on secret page authentication where user can access the secret page only if you have logged in this site , moreover the password is also encrypted using bcrypt js package ...</p>
        <a href="/about">If logged in , then only click me ....</a>
    </div>
    {{>footer}}
</body>
</html>