<div class="footer container">
    <p>Unlock the power of secure access with JWT authentication developed by Deepanshu Sharma. © copyright 2025. All rights reserved.</p>

    <a href="https://github.com/deepanshu1420/jwtAuthentication" class="github-icon" target="_blank" rel="noopener noreferrer" aria-label="GitHub Repository">
        <i class="fa-brands fa-github"></i>
    </a>
</div>